.App {
  padding-top: 36px;
  text-align: center;
}

.SearchForm{
  display: flex;
  justify-content: center;
}

.movie-list{
  display: flex;
  flex-wrap: wrap; /* las columnas pueden ir en varias filas */
  justify-content: space-between; /*espacio entre las columnas */
  padding: 16px;
}

.movie-list-item{
  margin-bottom: 20px;
  width: 33%;
}